body::before {
  display: block;
  content: "";
  height: 60px;
}
#map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}
a {
  color: inherit;
  text-decoration: none;
}
